<!DOCTYPE html>
<html lang="ru">
<head>
    <!-- META SECTION -->
    <title>Ключевой - твой надёжный партнёр</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- END META SECTION -->

    <link rel="stylesheet" type="text/css" href="../../static/front-end/css/revolution-slider/extralayers.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/front-end/css/revolution-slider/settings.css" media="screen"/>

    <link rel="stylesheet" type="text/css" href="../../static/front-end/ckeditor/contents.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="../../static/front-end/css/styles.css" media="screen"/>
    <style>
        /* The following styles are here just to make the "Massive Inline Editing" sample look nice. */

        /* A workaround to show Arial Black font in Firefox. */
        @font-face {
            font-family: 'arial-black';
            src: local('Arial Black');
        }

        #columns *[contenteditable="true"], #header *[contenteditable="true"] {
            padding: 10px;
        }

        #header {
            overflow: hidden;
            padding: 0 0 30px;
            border-bottom: 5px solid #05B2D2;
            position: relative;
            color: #333;
            background-color: #f9f9f9;
        }

        #headerLeft,
        #headerRight {
            width: 49%;
            overflow: hidden;
        }

        #headerLeft {
            float: left;
            padding: 10px 1px 1px;
        }

        #headerLeft h2,
        #headerLeft h3 {
            text-align: right;
            margin: 0;
            overflow: hidden;
            font-weight: normal;
        }

        #headerLeft h2 {
            font-family: "Arial Black", arial-black;
            font-size: 3.6em;
            line-height: 1.1;
            text-transform: uppercase;
        }

        #headerLeft h3 {
            font-size: 1.9em;
            line-height: 1.1;
            margin: .2em 0 0;
            color: #666;
        }

        #headerRight {
            float: right;
            padding: 1px;
        }

        #headerRight p {
            line-height: 1.8;
            text-align: justify;
            margin: 0;
        }

        #headerRight p + p {
            margin-top: 20px;
        }

        #headerRight > div {
            padding: 20px;
            margin: 0 0 0 30px;
            font-size: 1.2em;
            color: #666;
        }

        #columns {
            color: #333;
            overflow: hidden;
            padding: 20px 0;
            font-size: 0.9em;
            background-color: #f9f9f9;
        }

        #columns > div {
            float: left;
            width: 33.3%;
        }

        #columns #column1 > div {
            margin-left: 1px;
        }

        #columns #column3 > div {
            margin-right: 1px;
        }

        #columns > div > div {
            margin: 0px 10px;
            padding: 10px 20px;
        }

        #columns blockquote {
            margin-left: 15px;
        }
    </style>

</head>
<body>
<!-- page container -->
<div class="page-container">

    <!-- page header -->
    <div class="page-header bg-img-7">

        <!-- page header holder -->
        <div class="page-header-holder">

            <!-- page logo -->
            <div class="logo">
                <a href="index.html">Ключевой - твой надёжный партнёр</a>
            </div>
            <!-- ./page logo -->


            <!-- nav mobile bars -->
            <div class="navigation-toggle">
                <div class="navigation-toggle-button"><span class="fa fa-bars"></span></div>
            </div>
            <!-- ./nav mobile bars -->

            <!-- navigation -->
            <ul class="navigation">
                <li>
                    <a href="#advantages">Преимущества</a>
                </li>
                <li>
                    <a href="#">Услуги</a>
                </li>
                <li>
                    <a href="#">Тарифы</a>
                </li>
                <li>
                    <a href="#">База знаний</a>
                </li>
                <li>
                    <a href="#">Контакты</a>
                </li>
                <li id="cabinet">
                    <a href="#"><strong>Личный кабинет</strong></a>
                </li>
            </ul>
            <!-- ./navigation -->


        </div>
        <!-- ./page header holder -->

    </div>
    <!-- ./page header -->

    <!-- page content -->
    <div class="page-content">
        <div class="page-content-wrap bg-img-7">
            <!-- page content holder -->
            <div class="page-content-holder padding-v-50">
                <div style="padding-top: 3%; padding-left: 5%;padding-bottom: 75%">
                    <div class="col-lg-6"></div>
                    <div class="col-lg-6 mobile">
                        <h1 id="main_header" contenteditable="true">Продвижение в мобильном интернете</h1>
                        <h2 id="sub_header" contenteditable="true">
                            Ваш клиент пользователь смартфона?
                            Это не проблема!
                            В нашей системе вы можете самостоятеьно настроить <a style="color:brown;" href="#таргетинг*">таргетинг</a> на мобильные платформы
                        </h2>
                        <button class="btn btn-primary btn-start">Потесним конкурентов?</button>
                        <!--Получить в подарок 500 руб.|Начать сейчас|-->
                    </div>
                </div>

            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./page content wrapper -->
        <!-- revolution slider -->

        <!-- ./revolution slider -->


        <!-- page content wrapper -->
        <div class="page-content-wrap bg-img-1">
            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>
        </div>

        <!-- page content holder -->
        <div class="page-content-wrap" contenteditable="true">
            <!-- page content holder -->
            <div class="page-content-holder">

                <div class="block-heading block-heading-centralized this-animate animated fadeInDown this-animated" data-animate="fadeInDown" >
                    <h2 class="heading-underline">Вводная</h2>
                    <div class="block-heading-text">
                        Начнем с того что продвижение в мобильном интернете,
                        необходимо в первую очередь владельцам приложений.
                        Пускай львиная доля поиска приложений приходится на App Store и Play Market мобильный интернет развивается невиданными доселе темпами.
                        Согласно прогнозу Gartner, мировые расходы на мобильную рекламу к 2017 году увеличаться до 41,9 млрд долларов США, что более чем в три раза больше прошлогодних
                        показателей. Наряду с развивающимися рынками Бразилии и Мексики, Россия станет
                        одной из основных стран‐драйверов роста мобильной рекламы.
                        Практики использования
                        мобильного интернета
                        С помощью мобильного интернета пользователи оперативно получают информацию.
                        Вполне логично, что поиск информации, посещение социальных сетей и
                        онлайн-коммуникации - основные цели использования мобильного интернета, согласно
                        результатам исследования Nielsen.
                        Женщины заметно чаще используют мобильный интернет для общения,
                        онлайн-коммуникации.
                        Мужчины заметно чаще женщин читают новости, используют навигационные сервисы.
                        Пользователи смартфонов до 35 лет чаще пользователей старше 35 лет общаются,
                        смотрят фильмы и слушают музыку в мобильном интернете.
                    </div>
                    <h2 class="heading-underline">Практика</h2>
                    <div class="block-heading-text">
                        Начнем с того что продвижение в мобильном интернете,
                        необходимо в первую очередь владельцам приложений.
                        Пускай львиная доля поиска приложений приходится на App Store и Play Market мобильный интернет развивается невиданными доселе темпами.
                        Согласно прогнозу Gartner, мировые расходы на мобильную рекламу к 2017 году увеличаться до 41,9 млрд долларов США, что более чем в три раза больше прошлогодних
                        показателей. Наряду с развивающимися рынками Бразилии и Мексики, Россия станет
                        одной из основных стран‐драйверов роста мобильной рекламы.
                        Практики использования
                        мобильного интернета
                        С помощью мобильного интернета пользователи оперативно получают информацию.
                        Вполне логично, что поиск информации, посещение социальных сетей и
                        онлайн-коммуникации - основные цели использования мобильного интернета, согласно
                        результатам исследования Nielsen.
                        Женщины заметно чаще используют мобильный интернет для общения,
                        онлайн-коммуникации.
                        Мужчины заметно чаще женщин читают новости, используют навигационные сервисы.
                        Пользователи смартфонов до 35 лет чаще пользователей старше 35 лет общаются,
                        смотрят фильмы и слушают музыку в мобильном интернете.
                    </div>
                </div>

            </div>
            <!-- ./page content holder -->
        </div>

        <!-- page content wrapper -->
        <div class="page-content-wrap bg-texture-1 bg-dark light-elements">

            <div class="divider">
                <div class="box"><span class="fa fa-angle-down"></span></div>
            </div>

            <!-- page content holder -->
            <div class="page-content-holder">

                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1 id="advantages">Преимущества</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInLeft">
                            <div class="text-column-icon">
                                <span class="fa fa-cloud"></span>
                            </div>
                            <h4>Автоматизированная платформа</h4>

                            <div class="text-column-info">
                                Пожалуй единственная действительно автоматизированная платформа по продвижению веб
                                сайтов в поисковых системах. Google, Yandex, Bing, Rambler, Mail.ru, Yahoo, Sputnik
                                (Beta), Nigma (Beta).
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInRight">
                            <div class="text-column-icon">
                                <span class="fa icon-handshake1"></span>
                            </div>
                            <h4>Выгодное сотрудничество</h4>

                            <div class="text-column-info">
                                Благодаря автоматизации основных алгоритмов продвижения, Вы получаете возможность
                                привлечения новых клиентов на свой сайт по цене ниже среднерыночной.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInLeft">
                            <div class="text-column-icon">
                                <span class="fa fa-certificate"></span>
                            </div>
                            <h4>Гарантированный результат</h4>

                            <div class="text-column-info">
                                Мы гарантируем Вам целевые посещения начиная с первого месяца рекламной кампании, так
                                как используем проверенные временем, исключительно белые методы продвижения веб сайтов.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInRight">
                            <div class="text-column-icon">
                                <span class="fa fa-mobile-phone"></span>
                            </div>
                            <h4>Широкий охват аудитории</h4>

                            <div class="text-column-info">
                                Наши методы продвижения Вашего веб-сайта одинаково эффективны как для пользователей
                                персональных компьютеров, так и для владельцев смартфонов и планшетных компьютеров.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInLeft">
                            <div class="text-column-icon">
                                <span class="fa fa-rocket"></span>
                            </div>
                            <h4>Качественный сервис</h4>

                            <div class="text-column-info">
                                Мы используем распределённую архитектуру, что позволяет оказывать услуги без перебоев.
                                По любым вопросам Вы получите квалифицированную помощь специалиста в кратчайшие сроки.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-column text-column-centralized tex-column-icon-lg this-animate"
                             data-animate="fadeInRight">
                            <div class="text-column-icon">
                                <span class="fa fa-vk"></span>
                            </div>
                            <h4>Продвижение с помощью соцсетей</h4>

                            <div class="text-column-info">
                                В платформе реализован модуль SMM, обеспечивающий привлечение активных пользователей
                                таких социальных сетей как Facebook, ВКонтакте, Instagram, Одноклассники.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- ./page content holder -->
        </div>
        <!-- ./page content wrapper -->

        <!-- page content wrapper -->
        <!-- ./page content wrapper -->
        
        <!-- page content wrapper -->
        <!--<div class="page-content-wrap bg-light">-->
        <!--&lt;!&ndash; page content holder &ndash;&gt;-->
        <!--<div class="page-content-holder padding-v-20">-->
        <!---->
        <!--<div class="text-center">-->
        <!--<a href="../html/index.html" class="btn btn-primary btn-xl"><span class="fa fa-eye"></span> Preview</a> <a href="http://themeforest.net/item/atlant-responsive-bootstrap-admin-template/9217590" class="btn btn-success btn-xl"><span class="fa fa-shopping-cart"></span> Purchase</a>-->
        <!--</div>-->
        <!---->
        <!--</div>-->
        <!--&lt;!&ndash; ./page content holder &ndash;&gt;-->
        <!--</div>-->
        <!-- ./page content wrapper -->
    </div>
    <!-- ./page content -->

    <!-- page footer -->
    <div class="page-footer">

        <!-- page footer wrap -->
        <div class="page-footer-wrap bg-dark-gray">
            <!-- page footer holder -->
            <div class="page-footer-holder page-footer-holder-main">

                <div class="row">

                    <!-- about -->
                    <div class="col-md-3">
                        <h3>Агентствам и партнерам</h3>

                        <p>
                            Предлагаем сотрудничество в сфере привлечения трафика, а также сопровождение проектов.
                            Стоимость и цены на аутсорсинг оговариваются с учетом индивидуальных требований.
                        </p>
                    </div>
                    <!-- ./about -->

                    <!-- quick links -->
                    <div class="col-md-3">
                        <h3>Быстрые ссылки</h3>

                        <div class="list-links">
                            <a href="#">Преимущества</a>
                            <a href="#">Услуги</a>
                            <a href="#">Тарифы</a>
                            <a href="#">База знаний</a>
                        </div>
                    </div>
                    <!-- ./quick links -->

                    <!-- recent tweets -->
                    <div class="col-md-3">
                        <h3>Твитер</h3>

                        <div class="list-with-icon small">
                            <div class="item">
                                <div class="icon">
                                    <span class="fa fa-twitter"></span>
                                </div>
                                <div class="text">
                                    <a href="#">@Ключевой</a> Руководство
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <span class="fa fa-twitter"></span>
                                </div>
                                <div class="text">
                                    <a href="#">@Ключевой</a> Публичный релиз
                                </div>
                            </div>
                            <div class="item">
                                <div class="icon">
                                    <span class="fa fa-twitter"></span>
                                </div>
                                <div class="text">
                                    <a href="#">@Ключевой</a> Первые шаги
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- ./recent tweets -->

                    <!-- contacts -->
                    <div class="col-md-3">
                        <h3>Контакты</h3>

                        <div class="footer-contacts">
                            <div class="fc-row">
                                <span class="fa fa-home"></span>
                                ул Шарикоподшипниковская, 1,<br/>
                                Москва, Россия.
                            </div>
                            <div class="fc-row">
                                <span class="fa fa-phone"></span>
                                + 7 (999) 830-6474
                            </div>
                            <div class="fc-row">
                                <span class="fa fa-envelope"></span>
                                <strong>Панчев Дмитрий Георгиевич</strong><br>
                                <a href="mailto:#">dmitry@panchev-dev.com</a>
                            </div>
                        </div>

                        <h3>Подписаться на рассылку</h3>

                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Ваш email"/>

                            <div class="input-group-btn">
                                <button class="btn btn-primary"><span class="fa fa-paper-plane"></span></button>
                            </div>
                        </div>

                    </div>
                    <!-- ./contacts -->

                </div>

            </div>
            <!-- ./page footer holder -->
        </div>
        <!-- ./page footer wrap -->

        <!-- page footer wrap -->
        <div class="page-footer-wrap bg-darken-gray">
            <!-- page footer holder -->
            <div class="page-footer-holder">

                <!-- copyright -->
                <div class="copyright">
                    &copy; 2015 <a href="#">Ключевой</a> - Все права защищены
                </div>
                <!-- ./copyright -->

                <!-- social links -->
                <div class="social-links">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                    <a href="#"><span class="fa fa-vimeo-square"></span></a>
                    <a href="#"><span class="fa fa-dribbble"></span></a>
                </div>
                <!-- ./social links -->

            </div>
            <!-- ./page footer holder -->
        </div>
        <!-- ./page footer wrap -->

    </div>
    <!-- ./page footer -->

</div>
<!-- ./page container -->

<!-- page scripts -->
<script type="text/javascript" src="../../static/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/js/plugins/bootstrap/bootstrap.min.js"></script>

<script type="text/javascript" src="../../static/front-end/js/plugins/mixitup/jquery.mixitup.js"></script>
<script type="text/javascript" src="../../static/front-end/js/plugins/appear/jquery.appear.js"></script>

<script type="text/javascript" src="../../static/front-end/js/plugins/revolution-slider/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="../../static/front-end/js/plugins/revolution-slider/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="../../static/front-end/js/actions.js"></script>
<script type="text/javascript" src="../../static/front-end/js/slider.js"></script>
<script type="text/javascript" src="../../static/front-end/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="../../static/front-end/ckeditor/config.js"></script>
<!-- ./page scripts -->
</body>
</html>






