<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Новая кампания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="../../static/cabinet/favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="../../static/cabinet/css/theme-default.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/bower_components/nvd3/nv.d3.css">
    <!-- EOF CSS INCLUDE -->
</head>
<body class="page-container-boxed">
<!-- START PAGE CONTAINER -->
<div class="page-container">
    {% include "cabinet/menu.html" %}
    <!-- PAGE CONTENT -->
    <div class="page-content" ng-app="app">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <!--<li class="xn-icon-button pull-right">-->
            <!--    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-wrench"></span></a>-->
            <!--</li>-->
            <!-- END SIGN OUT -->

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="/">Ключевой</a></li>
            <li><a href="/cabinet/">Панель управления</a></li>
            <li class="active"><a href="/cabinet/campaign/">Новая рекламная кампания</a></li>
        </ul>
        <!-- END BREADCRUMB -->
        {% verbatim %}
        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap" ng-controller="campaign" hidden="true" id="page">
            <div class="row">
                <div class="col-lg-12" ng-show="campaign_id != ''">
                    <h1>Рекламная кампания: <a href="#{{ campaign_id }}">{{ campaign_id }}</a></h1>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Общие данные</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-6">
                                <label for="url">Адрес сайта</label><br>
                                <input class="form-control" id="url" placeholder="Например: http://example.com"
                                       type="url"
                                       value="" ng-model="url" ng-focus="focusUrl(url)" ng-blur="blurUrl(url)"/>
                            </div>
                            <div class="col-lg-6">
                                <label for="budget">Бюджет</label>
                                <input ng-model="budget" ng-focus="removeCurrency(budget)" ng-blur="addCurrency(budget)"
                                       class="form-control input-sm" id="budget" numbers-only="numbers-only"/>
                                <span ng-show="show_recommended_budget()">Рекомендуемый бюджет 3000 руб.</span>
                            </div>
                            <div class="col-lg-6">
                                <label for="specialist"><input id="specialist" ng-model="specialist"
                                                               class="checkbox-inline"
                                                               type="checkbox" ng-change="updateTotalCost()"/> Настроить
                                    с помощью
                                    специалиста(<a data-toggle="tooltip" data-placement="right"
                                                   title="Поставьте галочку и наш специалист самостоятельно подберет ключевые слова и регионы продвижения вашего вебсайта.
                                                   Стоимость данной услуги составляет 1000 руб.">?</a>)</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-hide="specialist">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Поисковые запросы</h3>
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <div class="col-lg-12">

                                <autocomplete attr-placeholder="Введите поисковый запрос" ng-model="keyword"
                                              data="suggest_keywords"
                                              on-type="updateKeywords" on-select="addKeyword"
                                              ng-enter="addKeyword(keyword)">
                                </autocomplete>

                                <span ng-show="keywords.length == 0">Добавьте хоть 1 запрос продвижения!</span>

                                <div ng-hide="keywords.length === 0">
                                    <table ng-model="keywords" class="table table-bordered" id="keywords">
                                        <thead>
                                        <td>
                                            <strong>Ключевое слово</strong>
                                        </td>
                                        <td>
                                            <strong>Индекс популярности</strong>
                                        </td>
                                        <td></td>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="keyword in keywords">
                                            <td>
                                                {{ keyword}}
                                            </td>
                                            <td>
                                                <a target="_blank"
                                                   href="https://www.google.com/trends/explore#q={{ keyword }}"><i
                                                        class="fa fa-google"></i></a>
                                                <a target="_blank"
                                                   href="https://wordstat.yandex.ru/#!/?words={{ keyword }}">
                                                    <i class="fa fa-yahoo"></i></a>
                                            </td>
                                            <td>
                                                <button ng-click="deleteKeyword($index, keyword)"
                                                        class="btn btn-default fa fa-trash-o"></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endverbatim %}
{#                    <div class="row">#}
{#                        <div class="panel panel-primary">#}
{#                            <div class="panel-heading">#}
{#                                <h3 class="panel-title">Регион привлечения</h3>#}
{#                                <ul class="panel-controls">#}
{#                                    <li><a href="#" class="panel-fullscreen"><span class="fa fa-expand"></span></a></li>#}
{#                                    <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a>#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="panel-body">#}
{#                                <div class="input-group">#}
{#                                    <select ng-model="region" class="form-control" id="geo" name="geo"#}
{#                                            ng-enter="addRegion(region)"#}
{#                                            ng-click="addRegion(region)">#}
{#                                        <option value="Москва и Московская область">#}
{#                                            Москва и Московская область#}
{#                                        </option>#}
{#                                        <option value="Санкт-Петербург и Ленинградская область">#}
{#                                            Санкт-Петербург и Ленинградская область#}
{#                                        </option>#}
{#                                        <optgroup label="Округа">#}
{#                                            <option value="Все">Все</option>#}
{#                                            <option value="Центральный">Центральный</option>#}
{#                                            <option value="Северо-Западный">Северо-Западный</option>#}
{#                                            <option value="Поволжье">Поволжье</option>#}
{#                                            <option value="Южный">Южный</option>#}
{#                                            <option value="Уральский">Уральский</option>#}
{#                                            <option value="Сибирь">Сибирь</option>#}
{#                                            <option value="Дальний Восток">Дальний Восток</option>#}
{#                                            <option value="Крым">Крым</option>#}
{#                                            <option value="Северный Кавказ">Северный Кавказ</option>#}
{#                                        </optgroup>#}
{#                                    </select>#}
{##}
{#                                    <div class="input-group-btn">#}
{#                                        <button ng-click="addRegion(region)" class="btn btn-toolbar">#}
{#                                            +#}
{#                                        </button>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <span ng-show="regions.length == 0">Добавьте хоть 1 регион!</span>#}
{##}
{#                                <div ng-repeat="region in regions">#}
{#                                    <div style="padding: 10px">#}
{#                                        {{ region }}#}
{#                                        <button class="btn btn-xs fa fa-trash-o"#}
{#                                                ng-click="removeRegion($index,region)"></button>#}
{#                                    </div>#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    {% verbatim %}
                </div>
                <div class="row">
                    <div class="col-lg-12"><h1>Итого</h1></div>
                    <div class="col-lg-4">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-item-left">
                                <span class="fa fa-group"></span>
                            </div>
                            <div class="widget-data">
                                <div class="widget-title">Посетители</div>
                                <div class="widget-subtitle">Расчетный объем привлечения(?)</div>
                                <div class="widget-int num-count">{{ clientsCount }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-default widget-item-icon">
                            <div class="widget-item-left">
                                <span class="fa fa-calendar"></span>
                            </div>
                            <div class="widget-data">
                                <div class="widget-title">Срок привлечения</div>
                                <div class="widget-int num-count">45 дней</div>
                                <div class="widget-sub-title">С момента запуска</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="widget widget-default widget-no-subtitle">
                            <div class="widget-title">Сумма к оплате</div>
                            <div class="widget-big-int num-count">{{ total_cost }}</div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <button style="float:right;" ng-disabled="!campaignFilled()" ng-click="saveWithPayment()"
                                class="btn btn-success">Оплатить
                        </button>
                        <button style="float:right;margin-right: 10px" ng-disabled="!campaignFilled()"
                                ng-click="saveWithoutPayment()"
                                class="btn btn-default">Сохранить без оплаты
                        </button>
                    </div>
                </div>
                <!-- END PAGE CONTENT WRAPPER -->


            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center copyright">Ключевой © 2015</div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Выйти ?</div>
            <div class="mb-content">
                <p>Вы уверены что хотите выйти?</p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="/" class="btn btn-success btn-lg">Да</a>
                    <button class="btn btn-default btn-lg mb-control-close">Нет</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="../../static/cabinet/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
        src="../../static/bower_components/angular-webstorage/angular-webstorage.min.js"></script>
<script type="text/javascript" src="../../static/bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="../../static/bower_components/d3/d3.js"></script>
<script type="text/javascript" src="../../static/bower_components/nvd3/nv.d3.js"></script>
<!-- or use another assembly -->
<script type="text/javascript" src="../../static/bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='../../static/cabinet/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript"
        src="../../static/cabinet/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type='text/javascript' src='../../static/cabinet/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/owl/owl.carousel.min.js"></script>

<script type="text/javascript" src="../../static/cabinet/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/daterangepicker/daterangepicker.js"></script>
<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<script type="text/javascript" src="../../static/cabinet/js/settings.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/actions.js"></script>
<script type="text/javascript">
    /**
     * @return {boolean}
     */
    function ValidUrl(str) {
        var pattern = new RegExp('^(https?:\\/\\/)?' + // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|' + // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))' + // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*' + // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?' + // query string
        '(\\#[-a-z\\d_]*)?$', 'i'); // fragment locator
        return pattern.test(str);
    }
    function uniq_fast(a) {
        var seen = {};
        var out = [];
        var len = a.length;
        var j = 0;
        for (var i = 0; i < len; i++) {
            var item = a[i];
            if (seen[item] !== 1) {
                seen[item] = 1;
                out[j++] = item;
            }
        }
        return out;
    }
    function declOfNum(number, titles) {
        cases = [2, 0, 1, 1, 1, 2];
        return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    }


    function generateId(host) {
        if (ValidUrl(host)) {
            var a = document.createElement('a');
            a.href = host;
            return a.hostname + ":" + Math.floor(Math.random() * (9999999 - 1111111 + 1));
        } else {
            return "";
        }
    }
    var app = angular.module('app', ['webStorageModule']);
    app.controller('campaign', function ($scope, $http, webStorage) {
        $scope.get_or_setStorage = function (name, value) {
            return (webStorage.get(name) !== null) ? webStorage.get(name) : value;
        };
        $scope.clientsCount = 0;
        $scope.suggest_keywords = JSON.parse($scope.get_or_setStorage('suggest_keywords', JSON.stringify([])));
        $scope.region = "Москва и Московская область";
        $scope.regions = JSON.parse($scope.get_or_setStorage('regions', JSON.stringify([$scope.region])));
        $scope.keywords = uniq_fast(JSON.parse($scope.get_or_setStorage('keywords', JSON.stringify([]))));
        $scope.url = $scope.get_or_setStorage('url', "");
        $scope.budget = $scope.get_or_setStorage('budget', "300 руб.");
        $scope.campaign_id = $scope.get_or_setStorage('campaign_id', generateId($scope.url));
        $scope.total_cost = $scope.budget;
        $scope.show_recommended_budget = function (){
            return $scope.specialist && (parseInt($scope.budget.replace(' руб.', '')) < 3000);
        };
        $scope.updateTotalCost = function () {
            if ($scope.specialist) {
                $scope.clientsCount = 0;
                $scope.total_cost = (parseFloat($scope.budget.replace(' руб.', '')) + 1000) + ' руб.';
                onload();
            } else {
                $scope.calculateKeywords();
                $scope.total_cost = $scope.budget;
                onload();
            }
        };
        $scope.$watch('url', function () {
            $scope.campaign_id = generateId($scope.url);
            webStorage.add('campaign_id', $scope.campaign_id);
            webStorage.add('url', $scope.url);
        });
        $scope.$watch('regions', function () {
            webStorage.add('regions', JSON.stringify($scope.regions));
        });
        $scope.$watch('suggest_keywords', function () {
            webStorage.add('suggest_keywords', JSON.stringify($scope.suggest_keywords));
        });
        $scope.$watch('budget', function () {
            $scope.calculateKeywords();
            webStorage.add('budget', $scope.budget);
            $scope.total_cost = $scope.budget;
        });
        $scope.updateKeywords = function (keyword) {
            if (keyword.length > 0) {
                //$http.jsonp('http://suggestqueries.google.com/complete/search?qu='+ keyword).success(function (data) {
                //    console.log(data);
                //    $scope.suggest_keywords = data;
                //});
                $http.jsonp(
                        'http://suggestqueries.google.com/complete/search?q=' +
                        encodeURIComponent(keyword) +
                        "&client=firefox" +
                        '&cp=1&gs_id=6&xhr=t&callback=JSON_CALLBACK'
                ).success(
                        function (data) {
                            console.log(data);
                            $scope.suggest_keywords = data[1] || [];
                        }
                );
            }
        };


        $scope.campaignFilled = function () {
            if ($scope.specialist && $scope.url.length > 0 && ValidUrl($scope.url)){
                return true;
            }else{
                return !!($scope.keywords.length > 0 && $scope.regions.length > 0 && $scope.budget.length > 0 && $scope.url.length > 0 && ValidUrl($scope.url));
            }
        };
        $scope.saveWithoutPayment = function () {
            $http({
                method: 'POST',
                url: "/cabinet/campaign/save",
                data: $.param({
                    campaign_id: $scope.campaign_id,
                    url: $scope.url,
                    keywords: $scope.keywords,
                    regions: $scope.regions,
                    budget: $scope.budget.replace(' руб.', ''),
                    specialist: $scope.specialist
                }),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (response) {
                console.log(response);
                webStorage.clear();
                document.location.href = "/cabinet/";
            });
        };
        $scope.saveWithPayment = function () {
            $http({
                method: 'POST',
                url: "/cabinet/campaign/save",
                data: $.param({
                    campaign_id: $scope.campaign_id,
                    url: $scope.url,
                    keywords: $scope.keywords,
                    regions: $scope.regions,
                    budget: $scope.budget.replace(' руб.', ''),
                    specialist: $scope.specialist
                }),
                headers: {'Content-Type': 'application/x-www-form-urlencoded'}
            }).success(function (response) {
                console.log(response);
                webStorage.clear();
                document.location.href = "/cabinet/payment?campaign=" + $scope.campaign_id;
            });
        };
        $scope.focusUrl = function (url) {
            if (url == "") {
                $scope.url = "http://";
            }
        };
        $scope.blurUrl = function (url) {
            if (url == "http://") {
                $scope.url = ""
            }
        };
        $scope.addCurrency = function (budget) {
            if (budget) {
                budget = budget + " руб.";
                $scope.budget = budget;
            }
        };
        $scope.removeCurrency = function (budget) {
            if (budget) {
                $scope.budget = budget.replace(' руб.', '');
                console.log(budget);
            }
        };
        $scope.getRegionModificator = function (regions) {
            var summ_mod = _.reduce(regions, function (summ, region) {
                switch (region) {
                    case 'Москва и Московская область':
                        return summ + 1.9;
                    case 'Санкт-Петербург и Ленинградская область':
                        return summ + 1.4;
                    case 'Центральный':
                        return summ + 1.5;
                    default:
                        return summ + 1
                }
            }, 0);
            return parseFloat(summ_mod / regions.length);
        };
        $scope.getKeywordPrice = function (keyword) {
            if (keyword.indexOf('купить') != -1) {
                return 2.0
            } else {
                return Math.random();
            }
        };
        $scope.calculateKeywords = function () {
            var keywordPrice = 0;
            _.each($scope.keywords, function (keyword) {
                keywordPrice = keywordPrice + $scope.getKeywordPrice(keyword);

            });
            keywordPrice = (keywordPrice / $scope.keywords.length) * $scope.getRegionModificator($scope.regions);
            if (keywordPrice <= 0.6) {
                keywordPrice = 0.6
            }
            console.log(keywordPrice);
            $scope.clientsCount = Math.round((parseFloat($scope.budget.replace(' руб.', '')) / parseFloat(keywordPrice)));
            if (_.isNaN($scope.clientsCount)) {
                $scope.clientsCount = 0;
            }
        };
        $scope.addRegion = function (region) {
            if ((region.length >= 1) && ($scope.regions.indexOf(region) == -1)) {
                if ($scope.regions.indexOf("Все") == -1) {
                    if (region == "Все") {
                        $scope.regions = ["Все"];
                    } else {
                        $scope.regions.push(region);
                    }
                } else {
                    $scope.regions = [];
                    $scope.regions.push(region);
                }
                $scope.calculateKeywords();
                onload();
            }
        };
        $scope.removeRegion = function ($index, region) {
            if ((region.length >= 1) && ($scope.regions.indexOf(region) > -1)) {
                $scope.regions.splice($index, 1);
                $scope.$emit('eventDeleted', region);
                $scope.calculateKeywords();
                onload();
            }
        };
        $scope.addKeyword = function (keyword) {
            if (keyword.length >= 1) {
                $scope.keyword = "";
                $scope.keywords = uniq_fast($scope.keywords);
                $scope.keywords.push(keyword);
                webStorage.add('keywords', JSON.stringify($scope.keywords));
                $scope.calculateKeywords();
                onload();
            }
        };
        $scope.deleteKeyword = function ($index, keyword) {
            $scope.keywords.splice($index, 1);
            webStorage.add('keywords', JSON.stringify($scope.keywords));
            $scope.$emit('eventDeleted', keyword);
            $scope.calculateKeywords();
            onload();
        };
    });
    app.directive('numbersOnly', function () {
        return {
            require: 'ngModel',
            link: function (scope, element, attrs, modelCtrl) {
                modelCtrl.$parsers.push(function (inputValue) {
                    if (inputValue == undefined) return '';
                    var transformedInput = inputValue.replace(/[^0-9]/g, '');
                    if (transformedInput != inputValue) {
                        modelCtrl.$setViewValue(transformedInput);
                        modelCtrl.$render();
                    }

                    return transformedInput;
                });
            }
        };
    });
    app.directive('autocomplete', function () {
        var index = -1;

        return {
            restrict: 'E',
            scope: {
                searchParam: '=ngModel',
                suggestions: '=data',
                onType: '=onType',
                onSelect: '=onSelect',
                autocompleteRequired: '='
            },
            controller: ['$scope', function ($scope) {
                // the index of the suggestions that's currently selected
                $scope.selectedIndex = -1;

                $scope.initLock = true;

                // set new index
                $scope.setIndex = function (i) {
                    $scope.selectedIndex = parseInt(i);
                };

                this.setIndex = function (i) {
                    $scope.setIndex(i);
                    $scope.$apply();
                };

                $scope.getIndex = function (i) {
                    return $scope.selectedIndex;
                };

                // watches if the parameter filter should be changed
                var watching = true;

                // autocompleting drop down on/off
                $scope.completing = false;

                // starts autocompleting on typing in something
                $scope.$watch('searchParam', function (newValue, oldValue) {

                    if (oldValue === newValue || (!oldValue && $scope.initLock)) {
                        return;
                    }

                    if (watching && typeof $scope.searchParam !== 'undefined' && $scope.searchParam !== null) {
                        $scope.completing = true;
                        $scope.searchFilter = $scope.searchParam;
                        $scope.selectedIndex = -1;
                    }

                    // function thats passed to on-type attribute gets executed
                    if ($scope.onType)
                        $scope.onType($scope.searchParam);
                });

                // for hovering over suggestions
                this.preSelect = function (suggestion) {

                    watching = false;

                    // this line determines if it is shown
                    // in the input field before it's selected:
                    //$scope.searchParam = suggestion;

                    $scope.$apply();
                    watching = true;

                };

                $scope.preSelect = this.preSelect;

                this.preSelectOff = function () {
                    watching = true;
                };

                $scope.preSelectOff = this.preSelectOff;

                // selecting a suggestion with RIGHT ARROW or ENTER
                $scope.select = function (suggestion) {
                    if (suggestion) {
                        $scope.searchParam = suggestion;
                        $scope.searchFilter = suggestion;
                        if ($scope.onSelect)
                            $scope.onSelect(suggestion);
                    }
                    watching = false;
                    $scope.completing = false;
                    setTimeout(function () {
                        watching = true;
                    }, 1000);
                    $scope.setIndex(-1);
                };


            }],
            link: function (scope, element, attrs) {

                setTimeout(function () {
                    scope.initLock = false;
                    scope.$apply();
                }, 250);

                var attr = '';

                // Default atts
                scope.attrs = {
                    "placeholder": "start typing...",
                    "class": "",
                    "id": "",
                    "inputclass": "",
                    "inputid": ""
                };

                for (var a in attrs) {
                    attr = a.replace('attr', '').toLowerCase();
                    // add attribute overriding defaults
                    // and preventing duplication
                    if (a.indexOf('attr') === 0) {
                        scope.attrs[attr] = attrs[a];
                    }
                }

                if (attrs.clickActivation) {
                    element[0].onclick = function (e) {
                        if (!scope.searchParam) {
                            setTimeout(function () {
                                scope.completing = true;
                                scope.$apply();
                            }, 200);
                        }
                    };
                }

                var key = {left: 37, up: 38, right: 39, down: 40, enter: 13, esc: 27, tab: 9};

                document.addEventListener("keydown", function (e) {
                    var keycode = e.keyCode || e.which;

                    switch (keycode) {
                        case key.esc:
                            // disable suggestions on escape
                            scope.select();
                            scope.setIndex(-1);
                            scope.$apply();
                            e.preventDefault();
                    }
                }, true);

                document.addEventListener("blur", function (e) {
                    // disable suggestions on blur
                    // we do a timeout to prevent hiding it before a click event is registered
                    setTimeout(function () {
                        scope.select();
                        scope.setIndex(-1);
                        scope.$apply();
                    }, 150);
                }, true);

                element[0].addEventListener("keydown", function (e) {
                    var keycode = e.keyCode || e.which;

                    var l = angular.element(this).find('li').length;

                    // this allows submitting forms by pressing Enter in the autocompleted field
                    if (!scope.completing || l == 0) return;

                    // implementation of the up and down movement in the list of suggestions
                    switch (keycode) {
                        case key.up:

                            index = scope.getIndex() - 1;
                            if (index < -1) {
                                index = l - 1;
                            } else if (index >= l) {
                                index = -1;
                                scope.setIndex(index);
                                scope.preSelectOff();
                                break;
                            }
                            scope.setIndex(index);

                            if (index !== -1)
                                scope.preSelect(angular.element(angular.element(this).find('li')[index]).text());

                            scope.$apply();

                            break;
                        case key.down:
                            index = scope.getIndex() + 1;
                            if (index < -1) {
                                index = l - 1;
                            } else if (index >= l) {
                                index = -1;
                                scope.setIndex(index);
                                scope.preSelectOff();
                                scope.$apply();
                                break;
                            }
                            scope.setIndex(index);

                            if (index !== -1)
                                scope.preSelect(angular.element(angular.element(this).find('li')[index]).text());

                            break;
                        case key.left:
                            break;
                        case key.right:
                        case key.enter:
                        case key.tab:

                            index = scope.getIndex();
                            // scope.preSelectOff();
                            if (index !== -1) {
                                scope.select(angular.element(angular.element(this).find('li')[index]).text());
                                if (keycode == key.enter) {
                                    e.preventDefault();
                                }
                            } else {
                                if (keycode == key.enter) {
                                    scope.select();
                                }
                            }
                            scope.setIndex(-1);
                            scope.$apply();

                            break;
                        case key.esc:
                            // disable suggestions on escape
                            scope.select();
                            scope.setIndex(-1);
                            scope.$apply();
                            e.preventDefault();
                            break;
                        default:
                            return;
                    }

                });
            },
            template: '\
                    <div class="autocomplete {{ attrs.class }}" id="{{ attrs.id }}">\
                      <input\
                        type="text"\
                        ng-model="searchParam"\
                        placeholder="{{ attrs.placeholder }}"\
                        class="{{ attrs.inputclass }}"\
                        id="{{ attrs.inputid }}"\
                        ng-required="{{ autocompleteRequired }}" />\
                      <ul ng-show="completing && (suggestions | filter:searchFilter).length > 0">\
                        <li\
                          suggestion\
                          ng-repeat="suggestion in suggestions | filter:searchFilter | orderBy:\'toString()\' track by $index"\
                          index="{{ $index }}"\
                          val="{{ suggestion }}"\
                          ng-class="{ active: ($index === selectedIndex) }"\
                          ng-click="select(suggestion)"\
                          ng-bind-html="suggestion | highlight:searchParam"></li>\
                      </ul>\
                    </div>'
        };
    });

    app.filter('highlight', ['$sce', function ($sce) {
        return function (input, searchParam) {
            if (typeof input === 'function') return '';
            if (searchParam) {
                var words = '(' +
                                searchParam.split(/\ /).join(' |') + '|' +
                                searchParam.split(/\ /).join('|') +
                                ')',
                        exp = new RegExp(words, 'gi');
                if (words.length) {
                    input = input.replace(exp, "<span class=\"highlight\">$1</span>");
                }
            }
            return $sce.trustAsHtml(input);
        };
    }]);

    app.directive('suggestion', function () {
        return {
            restrict: 'A',
            require: '^autocomplete', // ^look for controller on parents element
            link: function (scope, element, attrs, autoCtrl) {
                element.bind('mouseenter', function () {
                    autoCtrl.preSelect(attrs.val);
                    autoCtrl.setIndex(attrs.index);
                });

                element.bind('mouseleave', function () {
                    autoCtrl.preSelectOff();
                });
            }
        };
    });
    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if (event.which === 13) {
                    scope.$apply(function () {
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });
    $("#page").removeAttr("hidden");
</script>
{% endverbatim %}
{#                <div class="col-md-4">#}
{#                    <div class="panel panel-default">#}
{#                        <div class="panel-heading ui-draggable-handle">#}
{#                            <ul class="panel-controls">#}
{#                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>#}
{#                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>#}
{#                                <li><a href="#" class="panel-default"><span class="fa fa-wrench"></span></a></li>#}
{#                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                            </ul>#}
{#                            <img src="http://icdn.lenta.ru/lenta_touch.png"#}
{#                                 alt="Lenta.ru" class="panel-title-image">#}
{#                            <h3 class="panel-title">Lenta.ru</h3>#}
{#                        </div>#}
{##}
{#                        <div class="panel-body list-group">#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-clock-o"></span> Статус <span#}
{#                                    class="badge badge-warning">На модерации</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-group"></span> Объём <span#}
{#                                    class="badge badge-default">25 500 посетителей</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Период <span#}
{#                                    class="badge badge-danger">1 месяц</span></a>#}
{#                                <a href="#" class="list-group-item"><span class="fa fa-search-plus"></span> Ключевые#}
{#                                    слова<span#}
{#                                            class="badge badge-info">15 слов</span></a>#}
{#                            </a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-ruble"></span> Бюджет <span#}
{#                                    class="badge badge-danger">40 800 руб.</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="panel panel-default">#}
{##}
{#                        <div class="panel-heading ui-draggable-handle">#}
{#                            <ul class="panel-controls">#}
{#                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>#}
{#                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>#}
{#                                <li><a href="#" class="panel-default"><span class="fa fa-wrench"></span></a></li>#}
{#                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                            </ul>#}
{#                            <img src="http://www.anews.com/s/images/touch-icon-iphone.png"#}
{#                                 alt="Anews" class="panel-title-image">#}
{##}
{#                            <h3 class="panel-title">ANews</h3>#}
{#                        </div>#}
{##}
{#                        <div class="panel-body list-group">#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-clock-o"></span> Статус <span#}
{#                                    class="badge badge-primary">Завершена</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-group"></span> Объём <span#}
{#                                    class="badge badge-default">45 500 посетителей</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Период <span#}
{#                                    class="badge badge-danger">1 месяц</span></a>#}
{##}
{#                                <a href="#" class="list-group-item"><span class="fa fa-search-plus"></span> Ключевые#}
{#                                    слова<span#}
{#                                            class="badge badge-info">5 слов</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-ruble"></span> Бюджет <span#}
{#                                    class="badge badge-danger">59 150 руб.</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
</body>
</html>






