<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META SECTION -->
    <title>Ключевой - фактор твоего успеха</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="icon" href="../../static/cabinet/favicon.ico" type="image/x-icon"/>
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="../../static/cabinet/css/theme-default.css"/>
    <!-- EOF CSS INCLUDE -->
</head>
{% verbatim %}
<body class="page-container-boxed">
<!-- START PAGE CONTAINER -->
<div class="page-container">

    <!-- START PAGE SIDEBAR -->
    <div class="page-sidebar">
        <!-- START X-NAVIGATION -->
        <ul class="x-navigation">
            <li class="xn-logo">
                <a href="/">Ключевой</a>
                <a href="#" class="x-navigation-control"></a>
            </li>
            <li class="xn-title">Меню</li>
            <li class="active">
                <a href="/cabinet/"><span class="fa fa-desktop"></span> <span
                        class="xn-text">Панель управления</span></a>
            </li>
            <li>
                <a href="/cabinet/"><span class="fa fa-money"></span> <span
                        class="xn-text">Биллинг</span></a>
            </li>
            <li>
                <a href="/cabinet/"><span class="fa fa-h-square"></span> <span
                        class="xn-text">Поддержка</span></a>
            </li>
            <li>
                <a href="/cabinet/"><span class="fa fa-question-circle"></span> <span
                        class="xn-text">Частые вопросы</span></a>
            </li>


        </ul>
        <!-- END X-NAVIGATION -->
    </div>
    <!-- END PAGE SIDEBAR -->

    <!-- PAGE CONTENT -->
    <div class="page-content" ng-app="app">

        <!-- START X-NAVIGATION VERTICAL -->
        <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
            <!-- TOGGLE NAVIGATION -->
            <li class="xn-icon-button">
                <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
            </li>
            <!-- END TOGGLE NAVIGATION -->
            <!-- SEARCH -->
            <!-- END SEARCH -->
            <!-- SIGN OUT -->
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
            </li>
            <li class="xn-icon-button pull-right">
                <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-wrench"></span></a>
            </li>
            <!-- END SIGN OUT -->

        </ul>
        <!-- END X-NAVIGATION VERTICAL -->

        <!-- START BREADCRUMB -->
        <ul class="breadcrumb">
            <li><a href="#">Ключевой</a></li>
            <li class="active">Панель управления</li>
        </ul>
        <!-- END BREADCRUMB -->

        <!-- PAGE CONTENT WRAPPER -->
        <div class="page-content-wrap" hidden="true" id="page">

            <!-- START WIDGETS -->
            <div class="row" ng-controller="widgets">
                <div class="col-md-12">
                    <h2>Общая информация</h2>
                </div>
                <div class="col-md-3">

                    <!-- START WIDGET REGISTRED -->
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-external-link"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">{{ user.total.count }}</div>
                            <div class="widget-title">В работе</div>
                            <div class="widget-subtitle">Рекламные кампании</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">


                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-group"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">{{ user.total.volume }}</div>
                            <div class="widget-title">Посетителей</div>
                            <div class="widget-subtitle">Объём привлечения</div>
                        </div>
                    </div>
                    <!-- END WIDGET REGISTRED -->

                </div>
                <div class="col-md-3">
                    <div class="widget widget-default widget-item-icon">
                        <div class="widget-item-left">
                            <span class="fa fa-ruble"></span>
                        </div>
                        <div class="widget-data">
                            <div class="widget-int num-count">{{ user.total.budget }}</div>
                            <div class="widget-title">Бюджет</div>
                            <div class="widget-subtitle">Суммарный бюджет рекламных кампаний</div>
                        </div>
                    </div>
                    <!-- END WIDGET REGISTRED -->

                </div>
                <div class="col-md-3">

                    <!-- START WIDGET CLOCK -->
                    <div class="widget widget-default widget-padding-sm">
                        <div class="widget-big-int plugin-clock">00:00</div>
                        <div class="widget-subtitle plugin-date">Загрузка...</div>
                    </div>
                    <!-- END WIDGET CLOCK -->

                </div>
            </div>
            <!-- END WIDGETS -->
            <div class="row" ng-controller="campaigns">
                <div class="col-md-12">
                    <h2 ng-hide="campaigns.length == 0">Рекламные кампании</h2>
                </div>

                <div class="col-md-4" ng-repeat="campaign in campaigns">
                    <div class="panel panel-default">
                        <div class="panel-heading ui-draggable-handle">
                            <ul class="panel-controls">
                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-up"></span></a></li>
                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>
                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>
                            </ul>
                            <img src="{{campaign.website.icon}}"
                                 alt="Google" class="panel-title-image">

                            <h3 class="panel-title">{{campaign.website.title}}</h3>
                        </div>
                        <div class="panel-body list-group">
                            <a href="#" class="list-group-item"><span class="fa fa-check-circle"></span> Статус <span
                                    class="badge badge-{{campaign.status.class}}">{{ campaign.status.text }}</span></a>
                            <a href="#" class="list-group-item"><span class="fa fa-group"></span> Объём <span
                                    class="badge badge-default">{{campaign.volume}}</span></a>
                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Дата начала <span
                                    class="badge badge-danger">{{campaign.start}}</span></a>
                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Дата
                                окончания <span
                                        class="badge badge-danger">{{campaign.end}}</span></a>
                            <a ng-click="isCampaignOpen = !isCampaignOpen" href="#keywords?{{ campaign.id }}"
                               class="list-group-item">
                                <span class="fa fa-search-plus"></span> Ключевые слова
                                <span class="badge badge-info">{{ campaign.keywords_count }}</span>
                            </a>
                            <table ng-show="isCampaignOpen" ng-model="campaign.keywords"
                                   class="table table-bordered"
                                   id="keywords">
                                <tbody>
                                <tr ng-repeat="keyword in campaign.keywords">
                                    <td>
                                        {{ keyword }}
                                    </td>
                                    <td>
                                        <a target="_blank"
                                           href="https://www.google.ru/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q={{ keyword }}"><i
                                                class="fa fa-google"></i></a>
                                        <a target="_blank"
                                           href="https://yandex.ru/yandsearch?lr=213&text={{ keyword }}"><i
                                                class="fa fa-yahoo"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a href="#" class="list-group-item"><span class="fa fa-ruble"></span> Бюджет <span
                                    class="badge badge-danger">{{campaign.budget}} руб.</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="cl-md-8">
                    <div class="cl-md-4 text-center">
                        <a href="/cabinet/campaign/" class="btn btn-primary">Создать рекламную кампанию</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT WRAPPER -->


    </div>
    <div class="row">
        <div class="text-center copyright">Ключевой © Copyright 2015</div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->

<!-- MESSAGE BOX-->
<div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
    <div class="mb-container">
        <div class="mb-middle">
            <div class="mb-title"><span class="fa fa-sign-out"></span> Выйти ?</div>
            <div class="mb-content">
                <p>Вы уверены что хотите выйти?</p>

                <p></p>
            </div>
            <div class="mb-footer">
                <div class="pull-right">
                    <a href="/" class="btn btn-success btn-lg">Да</a>
                    <button class="btn btn-default btn-lg mb-control-close">Нет</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- START SCRIPTS -->
<!-- START PLUGINS -->
<script type="text/javascript" src="../../static/cabinet/js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="../../static/bower_components/angular/angular.min.js"></script>
<script type="text/javascript"
        src="../../static/bower_components/angular-webstorage/angular-webstorage.min.js"></script>
<script type="text/javascript" src="../../static/bower_components/underscore/underscore-min.js"></script>
<!-- END PLUGINS -->

<!-- START THIS PAGE PLUGINS-->
<script type='text/javascript' src='../../static/cabinet/js/plugins/icheck/icheck.min.js'></script>
<script type="text/javascript"
        src="../../static/cabinet/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

<script type='text/javascript' src='../../static/cabinet/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/owl/owl.carousel.min.js"></script>

<script type="text/javascript" src="../../static/cabinet/js/plugins/moment.min.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins/daterangepicker/daterangepicker.js"></script>
<!-- END THIS PAGE PLUGINS-->

<!-- START TEMPLATE -->
<script type="text/javascript" src="../../static/cabinet/js/settings.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/plugins.js"></script>
<script type="text/javascript" src="../../static/cabinet/js/actions.js"></script>
<script type="text/javascript">
    function declOfNum(number, titles) {
        cases = [2, 0, 1, 1, 1, 2];
        return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
    }
    var app = angular.module('app', ['webStorageModule']);
    app.controller('widgets', function ($scope) {
        $scope.user = {
            "total": {
                "count": 1 + " " + declOfNum(1, ['слово', 'слова', 'слов']),
                "volume": 40000,
                "budget": 4000
            }
        }
    });
    app.controller('campaigns', function ($scope, $http, webStorage) {
        $scope.deleteKeyword = function ($index, keyword) {
            $scope.keywords.splice($index, 1);
            $scope.$emit('eventDeleted', keyword);
        };
        var keyword = "Иcкать в интернете";
        var keyword1 = "Гугл";
        var campaign = {
            "website": {
                "icon": "http://zizaza.com/cache/big_thumb/iconset/581371/581377/PNG/128/flat_social_icons/google_plus_google_plus_icon_flat_icon_google_plus_png_flat_social_icons.png",
                "title": "Google"
            },
            "status": {
                "text": "Запущено",
                "class": "success"
            },
            "volume": "100 000 " + declOfNum(100000, ['посетитель', 'посетителя', 'посетителей']),
            "start": "29 марта 2015",
            "end": "18 июня 2015",
            "keywords": [
                keyword,
                keyword1
            ],
            "budget": "12 000"
        };
        campaign.keywords_count = campaign.keywords.length + " " + declOfNum(campaign.keywords.length, ['слово', 'слова', 'слов']);

        $scope.campaigns = [campaign];
        console.log($scope.campaigns)

    });
    $("#page").removeAttr("hidden")
</script>
{% endverbatim %}
{#                <div class="col-md-4">#}
{#                    <div class="panel panel-default">#}
{#                        <div class="panel-heading ui-draggable-handle">#}
{#                            <ul class="panel-controls">#}
{#                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>#}
{#                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>#}
{#                                <li><a href="#" class="panel-default"><span class="fa fa-wrench"></span></a></li>#}
{#                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                            </ul>#}
{#                            <img src="http://icdn.lenta.ru/lenta_touch.png"#}
{#                                 alt="Lenta.ru" class="panel-title-image">#}
{#                            <h3 class="panel-title">Lenta.ru</h3>#}
{#                        </div>#}
{##}
{#                        <div class="panel-body list-group">#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-clock-o"></span> Статус <span#}
{#                                    class="badge badge-warning">На модерации</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-group"></span> Объём <span#}
{#                                    class="badge badge-default">25 500 посетителей</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Период <span#}
{#                                    class="badge badge-danger">1 месяц</span></a>#}
{#                                <a href="#" class="list-group-item"><span class="fa fa-search-plus"></span> Ключевые#}
{#                                    слова<span#}
{#                                            class="badge badge-info">15 слов</span></a>#}
{#                            </a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-ruble"></span> Бюджет <span#}
{#                                    class="badge badge-danger">40 800 руб.</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="panel panel-default">#}
{##}
{#                        <div class="panel-heading ui-draggable-handle">#}
{#                            <ul class="panel-controls">#}
{#                                <li><a href="#" class="panel-collapse"><span class="fa fa-angle-down"></span></a></li>#}
{#                                <li><a href="#" class="panel-refresh"><span class="fa fa-refresh"></span></a></li>#}
{#                                <li><a href="#" class="panel-default"><span class="fa fa-wrench"></span></a></li>#}
{#                                <li><a href="#" class="panel-remove"><span class="fa fa-times"></span></a></li>#}
{#                            </ul>#}
{#                            <img src="http://www.anews.com/s/images/touch-icon-iphone.png"#}
{#                                 alt="Anews" class="panel-title-image">#}
{##}
{#                            <h3 class="panel-title">ANews</h3>#}
{#                        </div>#}
{##}
{#                        <div class="panel-body list-group">#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-clock-o"></span> Статус <span#}
{#                                    class="badge badge-primary">Завершена</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-group"></span> Объём <span#}
{#                                    class="badge badge-default">45 500 посетителей</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-calendar"></span> Период <span#}
{#                                    class="badge badge-danger">1 месяц</span></a>#}
{##}
{#                                <a href="#" class="list-group-item"><span class="fa fa-search-plus"></span> Ключевые#}
{#                                    слова<span#}
{#                                            class="badge badge-info">5 слов</span></a>#}
{#                            <a href="#" class="list-group-item"><span class="fa fa-ruble"></span> Бюджет <span#}
{#                                    class="badge badge-danger">59 150 руб.</span></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
</body>
</html>






