<!DOCTYPE html>
<html lang="en" class="body-full-height">
    <head>        
        <!-- META SECTION -->
        <title>Ключевой - фактор твоего успеха</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="../../static/cabinet/favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
        
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="../../static/cabinet/css/theme-default.css"/>
        <!-- EOF CSS INCLUDE -->                                    
    </head>
    <body>
        
        <div class="login-container">
        
            <div class="login-box animated fadeInDown">
                <div class="login-logo"></div>
                <div class="login-body">
                    <div class="login-title"><strong>Войти</strong> в личный кабинет</div>
                    <form action="/login" class="form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="username" type="text" class="form-control" placeholder="Email или Идентификатор пользователя"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <input name="password" type="password" class="form-control" placeholder="Пароль"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-link btn-block">Забыли пароль?</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-info btn-block">Вход</button>
                        </div>
                    </div>

                    <div class="login-subtitle">
                        Нет ещё аккаунта? <a href="/registration">Создать аккаунт</a>
                    </div>
                    </form>
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2015 Ключевой
                    </div>
                </div>
            </div>
            
        </div>
        
    </body>
</html>






